.env
venv/
__pycache__/
.pytest_cache/
test-results/
playwright-report/

# Playwright
node_modules/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# 설정 파일
*.json
pytest.ini
playwright.yml

# macOS 자동 생성 파일
.DS_Store
